body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 5%;
}

.container.form .form-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  gap: 5px;
}

.container.form button {
  padding: 5px 15px;
  height: fit-content;
}

.card-container > div {
  width: 100%;
}

.ReactTable {
  margin: 2rem 0;
  font-size: 0.6rem;
  text-align: center;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  white-space: normal !important;
}

/* Small size */
@media only screen and (min-width: 576px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-container > div {
    width: calc(100% / 2 - 10px);
  }

  .container.form .form-grid {
    flex-direction: row;
    align-items: center;
  }

  .form-grid > div {
    min-width: calc(100% / 2 - 10px);
  }

  .ReactTable {
    font-size: 0.8rem;
  }
}

/* Medium size */
@media only screen and (min-width: 768px) {
  .ReactTable {
    font-size: 1rem;
  }
}

/* Medium-Large size */
@media only screen and (min-width: 1024px) {
  .card-container > div {
    width: calc(100% / 3 - 10px);
  }

  .form-grid > div {
    min-width: calc(100% / 4 - 10px);
  }
}

/* Large size */
@media only screen and (min-width: 1200px) {
  .container {
    padding: 3rem 10%;
    margin: 0 auto;
    max-width: 1200px;
  }
}
